.navbar {
  margin: 0 0 1% 0;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  width: 100%;
}

.nav-items {
  margin: 1.125rem 1.563rem 0.388rem 1rem;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #000;
  text-decoration: none;
}

.brand {
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
  color: #0290ff;
  margin-right: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
}

.nav-icon {
  border: #0290ff 1px solid;
  border-radius: 50%;
  padding: 10px;
  color: #0290ff;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}
