.container-fluid {
  padding: 2% 8%;
}

link {
  text-decoration: none;
}

.btn {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  border: none;
  color: white;
  background-color: #0290ff;
}
